@import '../../../styles/global-styles.scss';

mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-content {
  transition: margin-left 0.3s ease;
}

.app-sidenav.collapsed + .mat-sidenav-content {
  margin-left: 80px; // Ajuste conforme necessário para a largura colapsada
}

.content {
  margin-top: 64px;
}
