.sidenav-container {
  height: 100%;
}

.topbar-container {
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
  background-color: #D6EFCD; 
  color: #2A7408; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

}

.main-content {
  margin-top: 64px; /* Height of the topbar */
  padding: 20px;
}
