.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.topbar-container {
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
}

.main-content {
  margin-top: 64px; /* Height of the topbar */
  padding: 20px;
}
