@import '../../../styles/global-styles.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
}

.login-form {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  max-width: 200px;
  transition: opacity 1s ease-in-out;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  padding-right: 2.5rem; /* Add padding to the right to make space for the icon */
}

.password-container button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.links {
  text-align: center;
  margin-top: 1.5rem;
}

.links a {
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: darken($secondary-color, 10%);
  }
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}
