@import '../../../styles/global-styles.scss';

.sidebar-header {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid lighten($primary-color, 20%);
}

.profile-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: lighten($primary-color, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  margin: 0 auto 1rem;
}

.clickable {
  cursor: pointer;
}

mat-nav-list a {
  color: $text-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($primary-color, 40%);
  }

  &.mat-list-item-active {
    background-color: lighten($primary-color, 40%);
  }

  mat-icon {
    margin-right: 1rem;
  }
}

mat-expansion-panel {
  &.collapsed {
    .mat-expansion-panel-header {
      display: flex;
      justify-content: center;

      mat-icon {
        margin-right: 0;
      }
    }

    .mat-nav-list {
      display: none;
    }
  }
}
